.about {

  p {
    margin-bottom: 10px;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.1px;
  }

  article a {
      color: #0dd;
      text-decoration: none;
  }
}


.headshot {
    position: relative;
    width: 250px;
    height: auto;
    float: right;
    
    svg {
        width: 100%;
    }
    img {
        position: absolute;
        top: 10%;
        right: 19%;
        width: 70%;
        object-fit: contain;
        filter: grayscale(100%);
        border-radius: 50%;
    }
}

@media (max-width: 480px) {

  .headshot {
      float: none;
    margin: 0 auto;
  }
}