.dev-icons {
    margin: 0;
    padding-top: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--1, &--2 {
        margin: 0;
        display: flex;
        i:last-child{
            margin-right: 0;
        }
        i:first-child {
            margin-left: 0;
        }
    }

    &--1 {
        justify-content: flex-end;
        margin-right: 2vw;
    }

    @media (max-width: 550px) {
        flex-direction: column;
        &--1, &--2 {
            justify-content: center;
        }
        &--1 {
            margin-right: 0;
        }
    }

    i {
        font-size: calc(2rem + 2vw);
        color: #0aa;
        margin: 2vw 1vw;
        text-shadow: 0 0 25px rgba(0, 210, 210, 0.5);
        animation: flicker 2s;
        
        @media (max-width: 1000px) {
            font-size: 40px;
        }
        
    }
    
    @keyframes flicker {
        0%, 7.499%, 8.5%, 8.7%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 92.999%, 94%, 94.999%,100% {
            text-shadow: none;
            color: #222;
            
        }
        7.5%, 8.6%, 20%, 21.999%, 63%, 63.999%, 65%, 69.999%, 93%, 93.999%, 95%, 99.999% {
            text-shadow: 0 0 25px rgba(0, 210, 210, 0.5);
            color: #0aa;
        }
    }
    
    

    @media (min-width: 1921px) {
        i {
            font-size: 6.8rem;
            margin: 40px 15px;
        }

        .dev-icons--1 {
            margin-right: 30px;
        }
    }


}