* {
  margin: 0;
  padding: 0;
}
body {
    color: white;
    font-family: Questrial, sans-serif;
    // background-color: #080808;
    background-color: white;
  }

  .wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }

  
  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2.8rem;
  }