.text-content {
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15vh;

    h1 {
      margin: 0;
      font-family: 'Major Mono Display', sans-serif;
      text-transform: lowercase;
      padding-right: 20px;
      letter-spacing: -2px;
      font-size: calc(3.5rem + 3.7vw);
      text-align: right;
      line-height: 0.9;
      span {
        font-size: calc(1em - 4px);
        margin: 5px 0 0 0;
        display: block;
        color: #080808;
        text-shadow: -1px 1px 0 #fff,
				  1px 1px 0 #fff,
				 1px -1px 0 #fff,
				-1px -1px 0 #fff;
      }
    }

    h2 {
      font-size: calc(1.9rem + 2.5vw);
      font-weight: 400;
      margin: 10px 0;
      letter-spacing: 2px;
      color: #0dd;
      width: 100%;
      text-align: center;
      font-variant: normal;
    }

    p {
      font-size: calc(1rem + 0.8vw);
      width: 55%;
      font-weight: 300;
      
      span {
        font-weight: 200;
        color: #0dd;
        font-size: 0.8em;
      }
    }

    @media (max-width: 760px) {
      h1 {
        text-align: center;
        span {
          font-size: 1em;
          display: inline;
          margin-left: -10px;

        }
      }
      p {
        width: 90%;
        order: 3;
        font-size: 1.6rem;
      }
    }
    
    @media (max-width: 450px) {
      h1 {
        font-size: 3.9rem;
      }
    }

  }