nav {
//   margin-top: 40px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    li {
        a {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: calc(1rem + 0.5vw);
            color: white;
            text-decoration: none;
            padding: 1vw;
            margin: 1.2vw;
            transition: color 0.5s ease, background-color 0.5s;
            
            &:hover,
            &:focus {
                color: #0dd;
                background-color: #1118;
                border-radius: 4px;
            }
            
            &:focus {
                outline: 1px solid;
            }
        }
        
        &:first-child a {
            margin-left: 0;
        }

        &:last-child a {
            margin-right: 0;
        }
    }

  }
}
