.work {
  padding-top: 1vh;
  span {
    margin: 10px 0;
  }
  a {
    padding: 5px 20px;
    text-decoration: none;
    border: solid 1px white;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #111;
    margin-right: 10px;
    transition: color 0.3s ease, border 0.3s ease;
    
    &:hover,
    &:focus {
      color: #0dd;
      border: solid 1px #0dd;
    }
  }
}

.project,
button {
  cursor: pointer;
}
.project {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
  padding: 0 10px 10px;
  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .one-liner,
    .details {
      // padding: 0 20px 0 0;
      text-align: right;
    }

    button {
      align-self: flex-end;
      padding: 5px 0 5px 20px;
    }
  }
  
}

.details,
.one-liner {
  font-size: 1.6rem;
  // padding: 0 0 0 20px;
}

.details {
  padding-top: 10px;
  visibility: collapse;
  max-height: 0;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  transition: all 0.3s;

  button {
    // text-align: left;
    background: transparent;
    color: inherit;
    border: none;
    display: block;
    width: max-content;
    padding: 5px 20px 5px 0;
    // transition: all 0.3s;

    &:focus {
      outline: none;
    }

    h3 {
      font-size: calc(2rem + 1.2vw);
      font-weight: 400;
      // text-transform: uppercase;
      font-variant: small-caps;
      margin: 0 auto;
    }
  }

  .one-liner {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover,
  &:focus-within {
    transform: translateY(-10px);

    button {
      color: #0dd;
      border-radius: 4px;
    }

    .one-liner {
      visibility: visible;
      opacity: 1;
      max-height: 1000px;
    }
  }
}

.mockup {
  max-width: 300px;
  padding: 10px;
  img {
    max-height: 0;
    visibility: collapse;
  }
}

.selected {
  padding-top: 10px;
  background-color: #333a;
  box-shadow: 7px 7px #077a;

  .project-text {
    min-width: 60%;
    
    @media (max-width: 800px) {
      width: 50%;
    }

    &:hover,
    &:focus-within {
      transform: translateY(0);
    }

    .details {
      visibility: visible;
      max-height: 200px;

      span {
        display: block;
        padding-top: 10px;
      }
    }

    .one-liner {
      visibility: visible;
      max-height: 1000px;
      opacity: 1;
    }

    h3 {
      color: #0dd;
    }
  }

  .mockup {
    img {
      visibility: visible;
      // height: auto;
      width: 100%;
      max-height: 1000px;
      object-fit: contain;
    }
  }

}

@media (max-width: 480px) {
  
  .project:nth-child(2n) {
    flex-direction: column-reverse;
  }
  .selected {
    flex-direction: column-reverse;
    align-items: center;
    // text-align: center;

    .project-text {
      width: 100%;
    }
  }
}

